
<!DOCTYPE html>
<html lang="vi">
<head>
    <title> Trang chủ</title>
    <link rel="stylesheet" type="text/css" href="trangchu.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
  <h1 color:"blue">Chào mừng bạn đến với Web đọc truyện</h1>
  <br/><br/>
  <a href="http://localhost:3000/truyen-cuoi-dan-gian" ><h3>Truyện cười dân gian</h3></a><br/>
  <a href="http://localhost:3000/truyen-cuoi-tham-thuy" ><h3>Truyện cười thâm thúy</h3></a><br/>
  <a href="http://localhost:3000/truyen-cuoi-nuoc-ngoai" ><h3>Truyện cười nước ngoài</h3></a><br/>
  <a href="http://localhost:3000/truyen-cuoi-ve-tinh-yeu" ><h3>Truyện cười về tình yêu</h3></a><br/>
  <a href="http://localhost:3000/truyen-cuoi-the-loai-khac" ><h3>Thể loại khác</h3></a></br><br/>
</body>
</html>
